# configuration requirements

python-dotenv>=0.5.1

# external tools requirements
pandas==1.0.0
geopandas==0.7.0
earthengine-api==0.1.273
folium==0.8.3
geojson==2.5.0
oauth2client==4.1.3
tensorflow-addons==0.13.0
ipyleaflet
xarray
xarray-leaflet 
tqdm
ffmpeg-python



